/* Reset some default styles */
body, h1, h2, p, form, label, input, a {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-image: url(''); /* Replace 'your-background-image.jpg' with the actual image file path */
    background-size: cover;
    text-align: center;
    color: #282828; /* Almost Black text color */
}

/* Add styles for the top-left image */
.top-left-image {
    position: absolute;
    top: 10px; /* Adjust the top position as needed */
    left: 10px; /* Adjust the left position as needed */
    width: 50px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    z-index: 1; /* Ensures the image is above other content */
}

h1 {
    background-color: #d61010; /* Red background color */
    color: white;
    padding: 20px;
    margin-bottom: 20px;
}

form {
    background-color: white;
    padding: 70px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1), 0px 0px 20px rgba(0, 0, 0, 0.2); /* Added blur glow */
    display: inline-block;
    text-align: left;
    margin: 20px;
    max-width: 400px;
    margin: 0 auto;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 20px;
}

textarea#input,
textarea#output,
textarea#bu {
    width: 395px;
    height: 100px;
    background-color: white; /* White background color for text areas */
    color: #333; /* Text color for text areas */
    font-size: 18px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 15px;
    height: 100%;
    background-color: white; /* White background color for input fields */
    color: #333; /* Text color for input fields */
}

input[type="submit"] {
    background-color: #FF0000; /* Red background color */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #8b0000; /* Darker red on hover */
}

p {
    font-size: 25px;
    line-height: 1.4;
    color: #282828; /* Almost Black text color */
}

a {
    text-decoration: none;
    color: #FF0000; /* Red link color */
    display: block;
    margin-top: 20px;
    font-size: 25px;
}

a:hover {
    text-decoration: underline;
}

/* Responsive design for smaller screens */
@media screen and (max-width: 600px) {
    form {
        margin: 10px;
    }
}
