<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <link rel="stylesheet" href="static/report.css">
</head>
<body>
    <div class="container">
        <h1></h1>
        <div class="cont">
            <form action="/portfolio_details" method="POST">
                <div class="input-group">
                    <label for="project">Portfolio:</label>
                    <select id="project" name="project" required>
                        <option value="all">All</option>
                        <option value="Agilisys">Agilisys</option>
                        <!-- Add more options here -->
                    </select>
                </div>

                <div class="input-group">
                    <label for="services">Service:</label>
                    <select id="services" name="services" required>
                        <option value="DSaaS">DSaaS</option>
                        <option value="Product">Product</option>
                        <!-- Add more options here -->
                    </select>
                </div>

                <div class="date-input-group">
                    <label for="fromDate" name="fromDate">From Date:</label>
                    <input required type="date" id="fromDate" name="fromDate">
                    <label for="toDate" name="toDate">To Date:</label>
                    <input required type="date" id="toDate" name="toDate">
                </div>

                <div class="btn-group">
                    <button formaction="/excel" type="submit" name="submitType" value="report">View Data</button>
                    <button type="submit" name="submitType" value="report">Report</button>
                    
                </div>
                <!-- <button id="table" formaction="/excel" onclick="toggleDataTable()">Toggle Data Table</button> -->
            </form>
            


           
            <!-- <div class="table-container" id="data-table-container" style="display: none;">
                <h2>Data Table</h2>

                {{ table_html | safe }}
                
                
            </div> -->
        </div>
    </div>

    <!-- <script>
        function toggleDataTable() {
            var dataTableContainer = document.getElementById("data-table-container");
            if (dataTableContainer.style.display === "none") {
                dataTableContainer.style.display = "block"; // Show the data table
            } else {
                dataTableContainer.style.display = "none"; // Hide the data table
            }
        }
    </script> -->
</body>
</html>
