<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <link rel="stylesheet" href="static/report.css">
</head>
<body>
    <div class="container">
        <h1></h1>
        <div class="cont">
            <form action="/portfolio_details" method="POST">
                <div class="input-group">
                    <label for="project">Portfolio:</label>
                    <select id="project" name="project" required>
                        <option value="all">All</option>
                        <option value="Agilisys">Agilisys</option>
                        <!-- Add more options here -->
                        <option value="Accelerate People">Accelerate People</option>
                        <option value="Avado">Avado</option>
                        <option value="Baby Zone">Baby Zone</option>
                        <option value="BCI Capital">BCI Capital</option>
                        <option value="BC Lead Generation">BC Lead Generation</option>
                        <option value="BC UK">BC UK</option>
                        <option value="Bright Owl">Bright Owl</option>
                        <option value="Coraaj">Coraaj</option>
                        <option value="Delfy">Delfy</option>
                        <option value="English Score">English Score</option>
                        <option value="Fospha">Fospha</option>
                        <option value="Generative AI">Generative AI</option>
                        <option value="Growth Mindset">Growth Mindset</option>
                        <option value="Heme Health">Heme Health</option>
                        <option value="Hive Learning">Hive Learning</option>
                        <option value="Instrumental">Instrumental</option>
                        <option value="IntentPro">IntentPro</option>
                        <option value="Internal Projects">Internal Projects</option>
                        <option value="Koodoo">Koodoo</option>
                        <option value="Kloo">Kloo</option>
                        <option value="Oakbrook Finance">Oakbrook Finance</option>
                        <option value="Red Team">Red Team</option>
                        <option value="Rajasthan Royals">Rajasthan Royals</option>
                        <option value="Researcher">Researcher</option>
                        <option value="Salary Finance">Salary Finance</option>
                        <option value="Scoresy">Scoresy</option>
                    </select>
                </div>

                <div class="input-group">
                    <label for="services">Service:</label>
                    <select id="services" name="services" required>
                        <option value="DSaaS">DSaaS</option>
                        <option value="Product">Product</option>
                        <option value="MarTech">MarTech</option>
                        <!-- Add more options here -->
                    </select>
                </div>

                <div class="date-input-group">
                    <label for="fromDate" name="fromDate">From Date:</label>
                    <input required type="date" id="fromDate" name="fromDate">
                    <label for="toDate" name="toDate">To Date:</label>
                    <input required type="date" id="toDate" name="toDate">
                </div>

                <div class="btn-group">
                    <button formaction="/excel" type="submit" name="submitType" value="report">View Data</button>
                    <button type="submit" name="submitType" value="report">Report</button>
                    
                </div>
                <!-- <button id="table" formaction="/excel" onclick="toggleDataTable()">Toggle Data Table</button> -->
            </form>
            


           
            <!-- <div class="table-container" id="data-table-container" style="display: none;">
                <h2>Data Table</h2>

                {{ table_html | safe }}
                
                
            </div> -->
        </div>
    </div>

    <!-- <script>
        function toggleDataTable() {
            var dataTableContainer = document.getElementById("data-table-container");
            if (dataTableContainer.style.display === "none") {
                dataTableContainer.style.display = "block"; // Show the data table
            } else {
                dataTableContainer.style.display = "none"; // Hide the data table
            }
        }
    </script> -->
</body>
</html>
