<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
 <img src="https://i.pinimg.com/originals/8b/3a/35/8b3a355a1fa458bfbc647fa0c41f92b5.png" alt="Image Description" class="top-left-image">
    <h1>Submission Output (Editable)</h1>
    <form method="POST" action="/update_submission">
        <label>Your Submission:</label>
        <br><br>
        <label>Input</label>
        <textarea name="input" id="input" contenteditable="true">{{ input }}</textarea><br><br>
        <br><br>
        <label>Output</label>
        <textarea name="output" id="output" contenteditable="true">{{ output }}</textarea><br><br>
        <br><br>
        <label>Business Update</label>
        <textarea name="bu" id="bu" contenteditable="true">{{ business_update }}</textarea><br><br>
        <input type="submit" value="Update Submission">
    </form>
    <a href="/">Back to Home</a>
</body>
</html>
